@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%; /* Fondo claro */
    --foreground: 222.2 84% 4.9%; /* Texto oscuro */
    
    /* ... resto de variables de shadcn */
  }
 
  .dark {
    --background: 222.2 84% 4.9%; /* Fondo oscuro */
    --foreground: 210 40% 98%; /* Texto claro */
  }
}
:root {
  --background: #0056b3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0056b3;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 0;
  height: 100vh;
}

