@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%; /* Fondo claro */
    --foreground: 222.2 84% 4.9%; /* Texto oscuro */
    
    /* ... resto de variables de shadcn */
  }
 
  .dark {
    --background: 222.2 84% 4.9%; /* Fondo oscuro */
    --foreground: 210 40% 98%; /* Texto claro */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%; /* Fondo oscuro */
    --foreground: 210 40% 98%; /* Texto claro */
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 0;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

