.reload-button{
  margin-left: 6px;
    float: right;
    position: relative;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
  }

  .reload-button-dark{
    margin-left: 6px;
      float: right;
      position: relative;
      line-height: 19px;
      text-decoration: none;
      cursor: pointer;
    }
  
  body{
    max-width: 578px;
  }